.popup{
    height: 100%;
    width: 100%;
}
.popup p{
    margin-top: 20px;
}



/* table */
.table-content{
	margin: 15px;
	height: auto;
	width: auto;
}
.table-content td{
	background-color:#f3f3f3; ;
	columns: 800px;
}
/* cards section */
.card{
	margin-top: 50px;
	height: auto;
	width: 100%;
	display: inline-flex;
}
.card-text{
	height: 70px;
	width: auto;
}
.data{
	height: 350px;
	width: 100%;
	margin-top: 15px;
	box-shadow: 0px 2px 10px rgb(109, 109, 109);
}
.data h5{
	background-color: inherit;
	border-radius: 20px;
	text-align: center;
}
.card-img{
	height: 120px;
    width: auto;
	
}
.card-img img{
	display: block;
	border-radius: 50px;
	height: 100px;
	width: 100px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.data p{
	font-size: 12px;
	text-align: center;
}
.card-title{
	margin: 2% 0%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.cardbody-1{
	display: inline-flex;
	width: 100%;
}
.card-left{
	margin-left: 15%;
}
.card-left p{
	border: 1px solid rgb(0, 0, 0);
	text-align: left;
}
.card-right{
	margin-left: 2%;
}
.card-right p{
	text-align: left;
}
.cardbody{
	width: 100%;
}
.card-end{
	width: 100%;
	display: inline-flex;

}
.card-end p{
	text-align: center;
	margin-top: 20px;
	/* margin: auto; */
	margin-left: auto;
	margin-right: auto;
	font-size: 13px;
}
