.container_2{
    padding-right:20px;
    height:auto;
    width: auto;
}
.table-content{
    border: 1px solid rgb(223, 223, 223);
	margin: auto;
	height: auto;
	width: auto;
	
	overflow-x: scroll;
}
th,td{
    text-align: center;
}
table th,td{
    column-width: 160PX;
    border: 1px solid black;
}
.table-scroll{
    overflow: scroll;
}
.img-fluid{
    height: auto;
    max-width:100%;
} 
/* thead{
    color:black;
} */