.org_chart{
    margin-left: 20%;
    max-width: 100%;
    height: auto;
}
.faculties{
    display: flex;
}
.f1{
    margin-left: 5%;
}
.f2{
    margin-left: 20%;
}
.f3{
    margin-left: 20%;
}
h6{
    color:gray;
}
